.input-group.md-form.form-sm.form-2 input.amber-border {
border: 1px solid #ffca28;
}

.input-group.md-form.form-sm.form-2 input {
border: 1px solid #bdbdbd;
border-top-left-radius: 0.25rem;
border-bottom-left-radius: 0.25rem;
}
